form{
    width: 600px;
    margin: auto;
}

input{
    width: 580px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #E06442;;
    border-radius: 20px;
}

.smile{
    display: flex;
    justify-content: right;

}

button{
    width: 600px;
    background-color: #E06442;
    padding: 10px;
    color: white;
    border-radius: 20px;
    border: none;
}
a{
    color: black;
    text-decoration: none;
}

.the{
    text-align: center;
    
}

h3{
    float: right;
    font-size: 30px;
}

body{
    background-color: #FBF2F0;
    font-family: 'Inter', sans-serif;
}

.H{
    width: 600px;
    margin: auto;
}